/* if the screen is larger like a tv the px will be larger like 4000px if the screen is small like a cel-phone the screen will be lower
so basically if you add a zoom using a pc it's like changing the pc view to a cel phone view because the px will be lowerred */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height:100%;

}



div.row {
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
}

div.brand {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    
}

a.brand-name {
    font-size: 1.5vmax;
    text-decoration: none;
    color: rgb(58, 176, 230);
}


ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type:  none;
}

 ul.home-items li {
    margin-right: 4%;
  
}


ul.home-items a {
    font-size: 1.3vmax;
    color: rgb(21, 21, 21);
}


ul.home-items a:hover {
    color: rgb(58, 176, 230);
}

ul.home-items a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}


div.row.row-image-slide {
    display: flex;
    width: 100%;
    height:90vh;
    background-color: rgb(59, 59, 59);
    align-items: center;
    justify-content: center;
}

div.col-image-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

div.col-image-slide > h1 {
    font-size: 3.5vw;
    margin-bottom: 2%;
}

div.col-image-slide > p {
    font-size: 1.2vw;
    font-weight: bold;
}


div.col-image-slide > button {
    font-weight: bold;
    margin-top: 4%;
    border-radius: 30px;
    width: 9.3%;
    height:  3.5vmax;
    background-color: rgb(89, 150, 230);
    border: none;
    cursor: pointer;
    font-size: 0.8vw;
    color: white;
}

div.col-image-slide > button:hover {
    background-color: rgb(77, 111, 154);
    transition: 0.4s;
}



div.row-provided-services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-color: rgb(240, 240, 240);
}

div.col-provided-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: inherit;
    color: rgb(20, 20, 20);
}

div.services-title {
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

div.services-title  > h1{
    font-size: 2.2vmax;
}

div.services-title  > i{
    border: 1px solid rgb(89, 150, 230);
    width: 5%;
}

div.provided-services-items {
    display: flex;
    flex-direction: row;
    width: 78%;
    align-items: center;
    justify-content: center;
    height: 70%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}


div.provided-services.item {
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 0.2%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding: 5%;
}

div.provided-services.item > h1 {
    font-size: 1.3vmax;
    margin-bottom: 10%;
}
div.provided-services.item > p {
    font-size: 0.8vmax;
    color: rgb(40, 40, 40);
}


div.row-contacts-us {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44vh;
    background-color: rgb(238, 246, 248);
    color: rgb(27, 27, 27);
}
div.col-contact-us {
    display: flex;
    width: inherit;
    height: 85%;
    flex-direction: column;
    align-items: inherit;
    justify-self: inherit;
}

div.contacts-us-items {
    display: flex;
    flex-direction: row;
    width: 37%;
    height: inherit;
    align-items: center;
    justify-content: center;
}

div.contacts-us {
    display: flex;
    width: 59%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

div.contacts-us > h1 {
    height: 30%;
    font-size: 1.4vw;
}

div.contacts-us > p {
   color: rgb(78, 78, 78);
   font-size: 1.0vw;
}

a.link-images {
    width: 50%;
    height: 40%;
    text-align: center;
    cursor: pointer;
}

a.link-images:hover {
   transform: translateY(2px);
   transition: 0.6s;
  
}

img.contacts-logo {
    width: 30%;
    height: 90%;
}


div.contacts-us.item-two {
    margin-left: 2%;
}


 @media screen 
 and (max-device-width: 2000px) 
 { 
      div.container {
          min-width: 1000px;
      }
}

