* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

div.row {
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: rgb(255, 255, 255);
}

div.brand {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    
}

a.brand-name {
    font-size: 1.5vmax;
    text-decoration: none;
    color: rgb(58, 176, 230);
}


ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type:  none;
}

 ul.home-items li {
    margin-right: 4%;
  
}


ul.home-items a {
    font-size: 1.3vmax;
    color: rgb(21, 21, 21);
}


ul.home-items a:hover {
    color: rgb(58, 176, 230);
}

ul.home-items a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}


div.row.row-image-slide {
    display: flex;
    width: 100%;
    height:90vh;
    background-color: rgb(59, 59, 59);
    align-items: center;
    justify-content: center;
}

div.col-image-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

div.col-image-slide > h1 {
    font-size: 3.5vw;
    margin-bottom: 2%;
}

div.col-image-slide > p {
    font-size: 1.2vw;
    font-weight: bold;
}


div.col-image-slide > button {
    font-weight: bold;
    margin-top: 4%;
    border-radius: 30px;
    width: 9.3%;
    height:  3.5vmax;
    background-color: rgb(89, 150, 230);
    border: none;
    cursor: pointer;
    font-size: 0.8vw;
    color: white;
}

div.col-image-slide > button:hover {
    background-color: rgb(77, 111, 154);
    transition: 0.4s;
}



div.row-provided-services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-color: rgb(224, 224, 224);
}

div.col-provided-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: inherit;
    color: rgb(20, 20, 20);
}

div.provided-services-title {
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

div.provided-services-title  > h1{
    font-size: 2.2vmax;
}

div.provided-services-title  > i{
    border: 1px solid rgb(89, 150, 230);
    width: 5%;
}

div.provided-services-items {
    display: flex;
    flex-direction: row;
    width: 78%;
    align-items: center;
    justify-content: center;
    height: 70%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}


div.provided-services.item {
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 0.2%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding: 5%;
}

div.provided-services.item > h1 {
    font-size: 1.3vmax;
    margin-bottom: 10%;
}
div.provided-services.item > p {
    font-size: 0.8vmax;
    color: rgb(40, 40, 40);
}
