/* if the screen is larger like a tv the px will be larger like 4000px if the screen is small like a cel-phone the screen will be lower
so basically if you add a zoom using a pc it's like changing the pc view to a cel phone view because the px will be lowerred */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}



div.row {
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
}

div.brand {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    
}

a.brand-name {
    font-size: calc(13px + 1vw);
    text-decoration: none;
    color: rgb(58, 176, 230);
}


ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type:  none;
}

 ul.home-items li {
    margin-right: 4%;
  
}


ul.home-items a {
    font-size: calc(4px + 1vw);
    color: rgb(21, 21, 21);
}


ul.home-items a:hover {
    color: rgb(58, 176, 230);
}

ul.home-items a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}


div.row.row-image-slide {
    display: flex;
    width: 100%;
    height:860px;
    background-color: rgb(59, 59, 59);
    align-items: center;
    justify-content: center;
}

div.col-image-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

div.col-image-slide > h1 {
    font-size: calc(50px + 1vw);
    text-align: center;
    margin-bottom: 2%;
}

div.col-image-slide > p {
    font-size: calc(7px + 1vw);
    font-weight: bold;
}


div.col-image-slide > button {
    font-weight: bold;
    margin-top: 4%;
    border-radius: 30px;
    width: 9.3%;
    height:  60px;
    background-color: rgb(89, 150, 230);
    border: none;
    cursor: pointer;
    font-size: calc(9px + 1vw);
    color: white;
}

div.col-image-slide > button:hover {
    background-color: rgb(77, 111, 154);
    transition: 0.4s;
}



div.row-provided-services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 560px;
    background-color: rgb(240, 240, 240);
}

div.col-provided-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: inherit;
    color: rgb(20, 20, 20);
}

div.services-title {
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

div.services-title  > h1{
    font-size: calc(25px + 1vw);
}

div.services-title  > i{
    border: 1px solid rgb(89, 150, 230);
    width: 5%;
}

div.provided-services-items {
    display: flex;
    flex-direction: row;
    width: 78%;
    align-items: center;
    justify-content: center;
    height: 70%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}


div.provided-services.item {
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 0.2%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding: 5%;
}

div.provided-services.item > h1 {
    font-size: calc(6px + 1vw);
    text-align: center;
    margin-bottom: 10%;
}
div.provided-services.item > p {
    font-size: calc(0.2px + 0.9vw);
    color: rgb(40, 40, 40);
}


div.row-contacts-us {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 412px;
    background-color: rgb(238, 246, 248);
    color: rgb(27, 27, 27);
}

div.col-contact-us {
    display: flex;
    width: inherit;
    height: 85%;
    flex-direction: column;
    align-items: inherit;
    justify-self: inherit;
}

div.contacts-us-items {
    display: flex;
    flex-direction: row;
    width: 37%;
    height: inherit;
    align-items: center;
    justify-content: center;
}

div.contacts-us {
    display: flex;
    width: 59%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

div.contacts-us > h1 {
    height: 30%;
    font-size: calc(4px + 1vw);
}

div.contacts-us > p {
   color: rgb(78, 78, 78);
   font-size: calc(0.2px + 1vw);
}

a.link-images {
    width: 50%;
    height: 40%;
    text-align: center;
    cursor: pointer;
}

a.link-images:hover {
   transform: translateY(2px);
   transition: 0.6s;
  
}

img.contacts-logo {
    width: 30%;
    height: 90%;
}


div.contacts-us.item-two {
    margin-left: 2%;
}


footer {
    display: flex;
    width: 100%;
    height: 93px;
    background-color: rgb(11, 10, 10);
}

div.row-footer  {
   display: flex;
   width: 70%;
   align-items: center;
   justify-content: flex-end;
}


div.row-footer > p, a {
    font-size: calc(5px + 1vw);
}

div.row-footer > p {
    color: white;
    
}

a.designed-by {
    color: rgb(30, 120, 188);
    
}

a.designed-by:hover {
  
    font-size: calc(7px + 1vw);
    cursor: pointer;
    transition: 0.2s;
}


/* if the screen is larger like a tv the px will be larger like 4000px if the screen is small like a cel-phone the screen will be lower
so basically if you add a zoom using a pc it's like changing the pc view to a cel phone view because the px will be lowerred */
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    div.brand {
        display: none !important;
        visibility: hidden !important;
    }

        
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type:  none;
    }

    ul.home-items a {
        font-size: calc(9px + 1vw);
        color: rgb(21, 21, 21);
    }
    

    /* For mobile phones: */
    div.brand {
        display: none !important;
        visibility: hidden !important;
    }

    div.row.row-image-slide {
        display: flex;
        width: 100%;
        height:650px;
        background-color: rgb(59, 59, 59);
        align-items: center;
        justify-content: center;
    }
    

        
    div.col-image-slide > h1 {
        font-size: calc(45px + 1vw);
        text-align: center;
        margin-bottom: 3%;
    }

    div.col-image-slide > p {
        font-size: calc(8px + 1vw);
        font-weight: bold;
    }


    div.col-image-slide > button {
        font-weight: bold;
        margin-top: 4%;
        border-radius: 30px;
        width: 25.3%;
        height:  45px;
        background-color: rgb(89, 150, 230);
        border: none;
        cursor: pointer;
        font-size: calc(9px + 1vw);
        color: white;
    }
    

    div.row-provided-services {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 400px;
        background-color: rgb(240, 240, 240);
    }

    div.provided-services-items {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 54%;
        flex-wrap: wrap;
        overflow-wrap: break-word;
    }
    
    
    div.services-title  > i{
        border: 1px solid rgb(89, 150, 230);
        width: 10%;
    }
    
        
    div.provided-services.item {
        display: flex;
        width: 29%;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-right: 0.2%;
        background-color: rgb(255, 255, 255);
        flex-wrap: wrap;
        overflow-wrap: break-word;
        padding: 5%;
    }

    div.provided-services.item > h1 {
        font-size: calc(8px + 1vw);
        text-align: center;
        margin-bottom: 10%;
    }
    div.provided-services.item > p {
        font-size: calc(1.3px + 0.9vw);
        color: rgb(40, 40, 40);
    }


        
    div.row-contacts-us {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 330px;
        background-color: rgb(238, 246, 248);
        color: rgb(27, 27, 27);
    }

    
    div.contacts-us-items {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: inherit;
        align-items: center;
        justify-content: center;
    }

    div.contacts-us > h1 {
        height: 30%;
        font-size: calc(8px + 1vw);
    }

    div.contacts-us > p {
    color: rgb(78, 78, 78);
    font-size: calc(1px + 1vw);
    }


  }


@media only screen and (max-width: 1000px) {
   
 
        
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type:  none;
    }

    ul.home-items a {
        font-size: calc(9px + 1vw);
        color: rgb(21, 21, 21);
    }
    

    div.row.row-image-slide {
        display: flex;
        width: 100%;
        height:660px;
        background-color: rgb(59, 59, 59);
        align-items: center;
        justify-content: center;
    }
    

        
    div.col-image-slide > h1 {
        font-size: calc(42px + 1vw);
        text-align: center;
        margin-bottom: 3%;
    }

    div.col-image-slide > p {
        font-size: calc(6px + 1vw);
        font-weight: bold;
    }


    div.col-image-slide > button {
        font-weight: bold;
        margin-top: 4%;
        border-radius: 30px;
        width: 20.3%;
        height:  45px;
        background-color: rgb(89, 150, 230);
        border: none;
        cursor: pointer;
        font-size: calc(9px + 1vw);
        color: white;
    }
    

    div.row-provided-services {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 430px;
        background-color: rgb(240, 240, 240);
    }

    div.provided-services-items {
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        justify-content: center;
        height: 70%;
        flex-wrap: wrap;
        overflow-wrap: break-word;
    }
    
    
    div.services-title  > i{
        border: 1px solid rgb(89, 150, 230);
        width: 10%;
    }
    
        
    div.provided-services.item {
        display: flex;
        width: 29%;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-right: 0.2%;
        background-color: rgb(255, 255, 255);
        flex-wrap: wrap;
        overflow-wrap: break-word;
        padding: 5%;
    }

    div.provided-services.item > h1 {
        font-size: calc(7px + 1vw);
        text-align: center;
        margin-bottom: 10%;
    }
    div.provided-services.item > p {
        font-size: calc(1.0px + 0.9vw);
        color: rgb(40, 40, 40);
    }


        
    div.row-contacts-us {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 350px;
        background-color: rgb(238, 246, 248);
        color: rgb(27, 27, 27);
    }

    
    div.contacts-us-items {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: inherit;
        align-items: center;
        justify-content: center;
    }

    div.contacts-us > h1 {
        height: 30%;
        font-size: calc(8px + 1vw);
    }

    div.contacts-us > p {
    color: rgb(78, 78, 78);
    font-size: calc(1.5px + 1vw);
    }

}


@media only screen and (min-width: 2200px) {

        
    nav {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        z-index: 10;
    }

    a.brand-name {
        font-size: calc(8px + 1vw);
        text-decoration: none;
        color: rgb(58, 176, 230);
    }

        
    ul.home-items a {
        font-size: calc(2px + 1vw);
        color: rgb(21, 21, 21);
    }


    div.row.row-image-slide {
        display: flex;
        width: 100%;
        height:980px;
        background-color: rgb(59, 59, 59);
        align-items: center;
        justify-content: center;
    }


    div.col-image-slide > h1 {
        font-size: calc(45px + 1vw);
        text-align: center;
        margin-bottom: 2%;
    }
    
    div.col-image-slide > p {
        font-size: calc(4px + 1vw);
        font-weight: bold;
    }


        
    div.col-image-slide > button {
        font-weight: bold;
        margin-top: 4%;
        border-radius: 30px;
        width: 9.3%;
        height:  50px;
        background-color: rgb(89, 150, 230);
        border: none;
        cursor: pointer;
        font-size: calc(4px + 0.4vw);
        color: white;
    }

    div.row-provided-services {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 720px;
        background-color: rgb(240, 240, 240);
    }
    div.services-title  > h1{
        font-size: calc(22px + 1vw);
    }


    div.provided-services.item > h1 {
        font-size: calc(4px + 1vw);
        text-align: center;
        margin-bottom: 10%;
    }
    div.provided-services.item > p {
        font-size: calc(0.2px + 0.7vw);
        color: rgb(40, 40, 40);
    }
    
    
    

    div.row-contacts-us {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 522px;
        background-color: rgb(238, 246, 248);
        color: rgb(27, 27, 27);
    }
        
}




@media only screen and (min-width: 3200px) {

        
    nav {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        z-index: 10;
    }

    a.brand-name {
        font-size: calc(7px + 1vw);
        text-decoration: none;
        color: rgb(58, 176, 230);
    }

        
    ul.home-items a {
        font-size: calc(1px + 1vw);
        color: rgb(21, 21, 21);
    }


    div.row.row-image-slide {
        display: flex;
        width: 100%;
        height:1100px;
        background-color: rgb(59, 59, 59);
        align-items: center;
        justify-content: center;
    }


    div.col-image-slide > h1 {
        font-size: calc(40px + 1vw);
        text-align: center;
        margin-bottom: 2%;
    }
    
    div.col-image-slide > p {
        font-size: calc(3px + 1vw);
        font-weight: bold;
    }


        
    div.col-image-slide > button {
        font-weight: bold;
        margin-top: 4%;
        border-radius: 30px;
        width: 9.3%;
        height:  64px;
        background-color: rgb(89, 150, 230);
        border: none;
        cursor: pointer;
        font-size: calc(4px + 0.4vw);
        color: white;
    }

    div.row-provided-services {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 1020px;
        background-color: rgb(240, 240, 240);
    }

    
    div.services-title  > h1{
        font-size: calc(20px + 1vw);
    }


    div.provided-services.item > h1 {
        font-size: calc(3px + 1vw);
        text-align: center;
        margin-bottom: 10%;
    }
    div.provided-services.item > p {
        font-size: calc(0.1px + 0.7vw);
        color: rgb(40, 40, 40);
    }
    
    
    

    div.row-contacts-us {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 622px;
        background-color: rgb(238, 246, 248);
        color: rgb(27, 27, 27);
    }
        
}




@media only screen and (min-width: 4200px) {

    nav {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        z-index: 10;
    }

    a.brand-name {
        font-size: calc(7px + 1vw);
        text-decoration: none;
        color: rgb(58, 176, 230);
    }

        
    ul.home-items a {
        font-size: calc(1px + 1vw);
        color: rgb(21, 21, 21);
    }


    div.row.row-image-slide {
        display: flex;
        width: 100%;
        height:1600px;
        background-color: rgb(59, 59, 59);
        align-items: center;
        justify-content: center;
    }


    div.col-image-slide > h1 {
        font-size: calc(40px + 1vw);
        text-align: center;
        margin-bottom: 2%;
    }
    
    div.col-image-slide > p {
        font-size: calc(1px + 0.7vw);
        font-weight: bold;
    }


        
    div.col-image-slide > button {
        font-weight: bold;
        margin-top: 4%;
        border-radius: 30px;
        width: 9.3%;
        height:  100px;
        background-color: rgb(89, 150, 230);
        border: none;
        cursor: pointer;
        font-size: calc(2px + 0.2vw);
        color: white;
    }

    div.row-provided-services {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 1420px;
        background-color: rgb(240, 240, 240);
    }

    
    div.services-title  > h1{
        font-size: calc(20px + 1vw);
    }


    div.provided-services.item > h1 {
        font-size: calc(1px + 0.7vw);
        text-align: center;
        margin-bottom: 10%;
    }
    div.provided-services.item > p {
        font-size: calc(0.1px + 0.6vw);
        color: rgb(40, 40, 40);
    }
    
    
    

    div.row-contacts-us {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 922px;
        background-color: rgb(238, 246, 248);
        color: rgb(27, 27, 27);
    }
        
}